<mat-card>
  <mat-card-title>{{ product.title }}</mat-card-title>
  <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
  <img mat-card-image src="https://placeimg.com/820/320/tech">
  <mat-card-content>
    {{ product.description }}
  </mat-card-content>
  <div class="ratings">
    <p><nga-stars [rating]="product.rating" [count]="5"></nga-stars></p>
  </div>
  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink]="['/home']">BACK</button>
  </mat-card-actions>
</mat-card>

